@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

body {
    font-family: "Poppins", sans-serif;
    line-height: 1.6;
    font-size: 14px;
}

header {
    background-color: tomato;
    color: white;

    .container{
        display: flex;
        justify-content: space-between;
        align-items: center;

        nav {
            ul {
                display: flex;

                li{
                    display: block;

                    a {
                        display: block;
                        padding: 1rem;
                        color: #fff;
                    }
                }
            }
        }
    }
}

main {
    .container-sm{

        #list {
            display: flex;
            flex-direction: column;
            gap: 1rem;

            .item {
                background-color: beige;
                padding: 1rem;
                border-radius: 8px;
                .date {
                    display: block;
                    font-size: 12px;
                    font-weight: 600;
                    margin-bottom: 0.5rem;
                }
                .description{
                    display: block;
                    margin-bottom: 1rem;
                }
            }
        }
    }
}

// Utility
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 1rem;
}

.container-sm {
    max-width: 750px;
    margin: 0 auto;
    padding: 1rem;
}

button {
    display: inline-block;
    padding: 0.5rem 1rem;
    border: none;
    text-align: center;
    font-family: inherit;
    cursor: pointer;
    color: #fff;
    background-color: tomato;
    transition: transform 3s ease;
}

button:hover {
    opacity: 0.7;
}